
*  {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
}
body {
	color: #FFF;
}
.container {
	width: 35%;
	height: 100%;
	padding: 20px;
	background-color: #363636;
	margin: 0 auto;
	border-radius: 20px;
}
.output {
	margin: 10px auto;
	padding: 10px;
	width: 90%;
	height: 50px;
	background-color: #BFBFBF;
	border-radius: 25px;
	font-size: 25px;
	font-weight: bold;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	overflow: hidden;
}
table {
	display: flex;
	justify-content: center;
}
th {
	font-size: 40px;
	font-weight: bold;
	width: 80px;
	height: 80px;
	border: 1px solid #ccc;
}
th:hover {
	cursor: pointer;
	opacity: 0.5;
}